vti_encoding:SR|utf8-nl
vti_author:SR|PASC-PC\\Pasc
vti_modifiedby:SR|PASC-PC\\Pasc
vti_timelastmodified:TR|13 Apr 2013 19:28:50 -0000
vti_timecreated:TR|23 Mar 2013 23:42:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|debatetheweb\\ T1/debatetheweb\\ T1/home.php debatetheweb\\ T1/debatetheweb\\ T1/home.html
vti_nexttolasttimemodified:TW|13 Apr 2013 19:24:09 -0000
vti_cacheddtm:TX|13 Apr 2013 19:28:50 -0000
vti_filesize:IR|2980
